<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

<head th:replace="fragments/header :: head"></head>

<body>
    <!-- TODO: page when javascript is disabled -->
    <noscript th:if="${internetService} != null">
        <h2 th:text="#{psm.web.bundle.internetservice.bundle.available.label}"></h2>
        <ul>
            <li th:each="bundle : ${internetService.bundles}">
                <h3 class="panel-title" th:text="${bundle.name}"></h3>
            </li>
        </ul>
    </noscript>

    <header th:replace="fragments/header :: header"></header>

    <div id="mainContainer" class="panel panel-default">
        <div th:replace="${view} :: content"></div>
    </div>
</body>
<div th:replace="fragments/footer :: footer"></div>
</html>
