<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

    <div class="panel-body panel-reference" th:fragment="content">
        <div class="btn-footer" th:unless="${userPurchase}">
            <button th:onclick="'sendRedirect(\'' + ${urlRedirect} + '\')'" type="button"
                    class="btn btn-green pull-left btn-area"
                    th:text="#{psm.web.bundle.internetservice.button.back.label}"></button>
        </div>
    </div>


</html>
