<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title th:text="${title}"></title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="'/styles/main.css'" />
    </head>

    <header th:fragment="header">
        <!-- header -->
        <div class="well">
            <div class="row">
                <div style="padding-left: 0px;" class="pull-left"><img class="img-responsive" src="/images/logo.png" /></div>
                <div style="padding-right: 5px;" class="pull-right" th:if="${internetService} != null">
                    <h4><b><span th:text="${internetService.serviceProviderName}"></span></b></h4>
                    <span th:text="${internetService.name}"></span>
                </div>
            </div>
        </div>

        <!-- Error message panel -->
        <div th:if="${errMsg != null}" class="alert alert-danger" th:text="${errMsg}" role="alert"></div>
        <div th:if="${errMsg == null}" class="alert alert-danger hidden" role="alert"></div>
    </header>
</html>
