<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="fr">

<div class="panel-body">
	<div class="panel-heading" th:fragment="content">
		<div class="panel-title">
			<span style="font-weight:bold" th:text="#{unified.portal.view.internet.service.header.label}"/><br/>
		</div>
	</div>
	<div class="panel-body" th:fragment="content">
		<table style="width:100%">		  
			<tbody id="services">
				<tr th:each="service: ${services}">
					<td style="width:10%">
						<a th:href="@{${service.dns}}" target="_blank">
					    	<img alt="Image" th:src="@{${service.logo}}" width="80"/>
					    </a>
					</td>
					<td style="width:5%"/>
					<td>
						<a th:href="@{${service.dns}}" th:text="${service.name}" target="_blank" style="font-weight:bold"/>
						<br/>
						<span th:text="${service.description}"/> 
					</td>				
				</tr>
				<tr/>
			</tbody>
		</table>	
	</div>
</div>

</html>
